/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
	background-image: url('bruce-lee.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	font-size: 1.4rem;
}
.fortune-cookie-saying-wrapper {
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
}

button {
	height: 75px;
	width: 200px;
	border-radius: 5rem;
	background-image: url('fortune-cookie.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#previous-fortunes-container {
    list-style-type: none;
}

i {
	color: white;
}

h1,
h2 {
	font-family: Kaushan Script, cursive;
	color: white;
}

p,
ul {
	font-family: Amatic SC, cursive;
	font-size: 1.6rem;
	color: white;
}

button:hover {
	cursor: pointer;
}